
<div class="container spacer">
  <div class="card">
    <div class="card-header">SousTache</div>
    <div class="card-body">




      <div class="form-group">
        <label for="NomSousTache">Nom de la sous tache </label>
        <input type="text" class="form-control" id="NomSousTache" [(ngModel)]="data.sousTache.nomSousTache" placeholder="Nom sous tache">
      </div>
      <div class="form-group">
        <label for="estimation">Estimation</label>
        <input type="number" class="form-control" id="estimation" [(ngModel)]="data.sousTache.estimation" placeholder="Estimation">
      </div>
      <div class="form-group">
        <label for="Description">Description </label>
        <input type="text" class="form-control" id="Description" [(ngModel)]="data.sousTache.description" placeholder="description">
      </div>


      <div class="form-group">
        <label for="Priorité">Priorité</label>
        <input type="number" class="form-control" id="Priorité" [(ngModel)]="data.sousTache.priorite " placeholder="Priorité">
      </div>




      <button mat-button [mat-dialog-close]="data.sousTache" cdkFocusInitial>Submit</button>
      <button mat-button (click)="onNoClick()">Cancel </button>


    </div>
  </div>
</div>


<!--
<h1 mat-dialog-title>Hi {{data.newTache.idTache}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.tache.nomTache">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.tache" cdkFocusInitial>Ok</button>
</div>
-->
