


<nb-card size="large">
  <nb-card-body>
    <mat-accordion>


      <mat-expansion-panel *ngFor="let tache of Taches ;let i=index;"   hideToggle="true">


        <mat-expansion-panel-header>
          <mat-panel-title>
            {{tache.nomTache}}
          </mat-panel-title>

          <mat-icon class="example-icon" (click)="upTache(tache.idTache,tache)">keyboard_arrow_up</mat-icon>
          <mat-icon class="example-icon" (click)="downTache(tache.idTache,tache)">keyboard_arrow_down</mat-icon>
          <mat-icon class="example-icon" routerLink="/TacheEncadrant/{{idstg}}/{{tache.idTache}}">library_books</mat-icon>


          <mat-panel-description>
            {{tache.estimation}}
          </mat-panel-description>
          <!-- <i class="material-icons" (click)="VersNewSousTache(tache.idTache)"></i> -->

        </mat-expansion-panel-header>

        <mat-card  *ngFor="let soustache of SousTaches;"  [hidden]="tache.idTache!==soustache.tacheSousTache.idTache">
          <mat-card-header>

            <i mat-card-avatar class="material-icons"  *ngIf="soustache.etat===0"    >
              pause
            </i>

            <i  mat-card-avatar class="material-icons"   *ngIf="soustache.etat===1"   >play_circle_outline
            </i>

            <i  mat-card-avatar class="material-icons"  *ngIf="soustache.etat===2"  >
              check
            </i>


            <mat-card-title>{{soustache.nomSousTache}}</mat-card-title>

            <mat-icon class="example-icon" routerLink="/sousTacheEncadrant/{{idstg}}/{{soustache.idSousTache}}">library_books</mat-icon>


          </mat-card-header>

          <!-- <mat-card-content>
             <p>
               {{soustache.date_debut}}
             </p>
           </mat-card-content>-->
          <mat-card-actions>


          </mat-card-actions>


        </mat-card>


      </mat-expansion-panel>
    </mat-accordion>
  </nb-card-body>
</nb-card>


<toaster-container [toasterconfig]="config"></toaster-container>
