<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">

  <div class="logo-containter">
    <a (click)="toggleSettings()"  class="navigation "><i class="nb-menu"></i></a>

    <div class="logo" (click)="goToHome()"><span>{{stg.prenom}} {{stg.nom}}</span></div>
  </div>

</div>

<nb-actions
  size="medium"
  class="header-container"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">
  <!--<nb-action icon="nb-grid-b" class="toggle-layout" (click)="toggleSettings()"></nb-action>-->

  <nb-action routerLink="/login" class="control-item "  icon="nb-power"  ></nb-action>
  <nb-action routerLink="/encadrant/{{idEnc}}" class="control-item "  icon="nb-home"  ></nb-action>
  <nb-action  class="control-item " disabled icon="nb-notifications"></nb-action>
  <nb-action routerLink="/stagiaireIdentite/{{idstg}}" class="control-item "  icon="nb-person"  ></nb-action>
  <nb-action routerLink="/calendrier/{{idEnc}}/{{idstg}}" class="control-item "  icon="nb-layout-default"  ></nb-action>
  <nb-action routerLink="/fiche-stagiaire/{{idEnc}}/{{idstg}}" class="control-item " icon="nb-list"></nb-action>
  <nb-action  class="control-item " disabled icon="nb-bar-chart"></nb-action>


  <nb-action class="control-item">
    <nb-search type="rotate-layout" ></nb-search>
  </nb-action>

</nb-actions>
